<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-title>
        Tasks
      </ion-title>
      <ion-buttons>
        <button ion-button (click)="onAddItem()">
            <ion-icon name="add"></ion-icon>
            Add Item
        </button>
      </ion-buttons>
  </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor ="let task of tasks  | async">
      <ion-item [ngClass]="{taksDone: task.status === 'done'}">
        {{task.title}}
      </ion-item>

      <ion-item-options side="start" (ionSwipe)="removeTask(slidingItem, task)">
        <ion-button ion-button icon-only (click)="markAsDone(slidingItem,task)" color="secondary">
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
        <ion-button ion-button icon-only expandable (click)="removeTask(slidingItem, task)" color="danger">
        <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
